<section data-ng-controller="PlayersController" data-ng-init="findOne()">
	<form class="form-horizontal col-md-6" role="form" data-ng-submit="update()">
            	<div class="form-group">
			<label mean-token="'edit-first-name'" class="col-md-3 control-label">First Name</label>
			<div class="col-md-9">
				<input type="text" class="form-control" data-ng-model="firstName" id="firstName" placeholder="First Name" required>
			</div>
		</div>
                <div class="form-group">
			<label mean-token="'edit-middle-name'" class="col-md-3 control-label">Middle Name</label>
			<div class="col-md-9">
				<input type="text" class="form-control" data-ng-model="middleName" id="middleName" placeholder="Middle Name" required>
			</div>
		</div>
                <div class="form-group">
			<label mean-token="'edit-last-name'" class="col-md-3 control-label">Last Name</label>
			<div class="col-md-9">
				<input type="text" class="form-control" data-ng-model="lastName" id="lastName" placeholder="Middle Name" required>
			</div>
		</div>
                <div class="form-group">
			<label mean-token="'edit-gender'" class="col-md-3 control-label">Gender</label>
			<div class="col-md-9">
				<input type="text" class="form-control" data-ng-model="gender" id="gender" placeholder="Gender" required>
			</div>
		</div>
                <div class="form-group">
			<label mean-token="'edit-birth-date'" class="col-md-3 control-label">Birth Date</label>
			<div class="col-md-9">
				<input type="text" class="form-control" data-ng-model="birthDate" id="birthDate" placeholder="Birth Date" required>
			</div>
		</div>
                <div class="form-group">
			<label mean-token="'edit-city'" class="col-md-3 control-label">City</label>
			<div class="col-md-9">
				<input type="text" class="form-control" data-ng-model="city" id="city" placeholder="City" required>
			</div>
		</div>
                <div class="form-group">
			<label mean-token="'edit-state'" class="col-md-3 control-label">State</label>
			<div class="col-md-9">
				<input type="text" class="form-control" data-ng-model="state" id="city" placeholder="State" required>
			</div>
		</div>
                <div class="form-group">
			<label mean-token="'edit-country'" class="col-md-3 control-label">Country</label>
			<div class="col-md-9">
				<input type="text" class="form-control" data-ng-model="country" id="city" placeholder="Country" required>
			</div>
		</div>
		
		<div class="form-group">
			<div class="col-md-offset-3 col-md-9">
				<button type="submit" class="btn btn-info">Submit</button>
			</div>
		</div>
	</form>
</section>
