<section data-ng-controller="PlayersController" data-ng-init="find()">
	<ul class="players unstyled">
		<li data-ng-repeat="player in players">
                        <!--<span>{{team.created | date:'medium'}}</span>-->
<!--			<span>{{team.user.name}}</span>-->
			<h2><a data-ng-href="#!/players/{{player._id}}">{{player.firstName}} {{player.middleName}} {{player.lastName}}</a></h2>
			<div>{{player.city}},{{player.state}},{{player.country}}</div>
                        <a href="/#!/teams/{{team._id}}/players/create">Add Players</a>
                </li>
	</ul>
        <a href="/#!/teams/{{team._id}}/players/create">Add players to team</a>
	<h1 data-ng-hide="!players || players.length">No players on your team yet. <br><a href="/#!/teams/{{team._id}}/players/create">Add One</a>?</h1>
</section>