<section data-ng-controller="TeamsController" data-ng-init="findOne()">
    <span>{{team.created | date:'medium'}}</span>
    <span>{{team.user.name}}</span>
    <h2>{{team.name}}</h2>
    <div data-ng-show="global.user._id == team.user._id">
        <a class="btn" href="/#!/teams/{{team._id}}/edit">
        	<i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn" data-ng-click="remove();">
            <i class="glyphicon glyphicon-trash"></i>
        </a>
    </div>
    <div>{{team.city}}</div>
    <div>{{team.state}}</div>
    <div>{{team.country}}</div>
</section>
